# convert the trajtory of sz GPS data to trips format for fitting the kde algorithm

In [2]:
import pickle

with open('datasets/bus_long50_traj_wgs84_coor/0_24_gps.pkl', 'rb') as f:
    data = pickle.load(f)

data

,traj,id,time,lon,lat,angle,speed,device,dspeed,mileage
0,0,BS01983D,2019-10-09 07:03:56+00:00,113.911102,22.658583,256.0,15.0,1638196,0.0,48147.0
1,0,BS01983D,2019-10-09 07:04:10+00:00,113.910248,22.658617,279.0,12.0,1638196,0.0,48147.0
2,0,BS01983D,2019-10-09 07:04:14+00:00,113.910149,22.658617,274.0,0.0,1638196,0.0,48147.0
3,0,BS01983D,2019-10-09 07:04:28+00:00,113.909515,22.658617,271.0,28.0,1638196,0.0,48147.0
4,0,BS01983D,2019-10-09 07:04:29+00:00,113.909431,22.658634,272.0,27.0,1638196,0.0,48147.0
...,...,...,...,...,...,...,...,...,...,...
83259,2003,BS43022D,2019-10-09 21:47:40+00:00,113.911453,22.657784,159.0,14.0,1701105,0.0,53401.0
83260,2003,BS43022D,2019-10-09 21:47:45+00:00,113.911499,22.657700,155.0,0.0,1701105,0.0,53401.0
83261,2003,BS43022D,2019-10-09 21:47:59+00:00,113.911697,22.657484,141.0,16.0,1701105,0.0,53401.0
83262,2003,BS43022D,2019-10-09 21:48:02+00:00,113.911835,22.657316,143.0,20.0,1701105,0.0,53401.0
83263,2003,BS43022D,2019-10-09 21:48:17+00:00,113.912247,22.656799,142.0,21.0,1701105,0.0,53402.0

In [3]:
# split traj to trips, and convert the data time to timestamp

import pandas as pd
import os

# Load the pickle file
df = pd.read_pickle('datasets/bus_long50_traj_wgs84_coor/0_24_gps.pkl')

# Define the columns to keep
columns_to_keep = ['id', 'lat', 'lon', 'time']

# Get unique traj values
unique_trajs = df['traj'].unique()

# Save each unique traj to a separate text file
save_path = 'datasets/trips_0_24_new'
if not os.path.exists(save_path):
    os.makedirs(save_path)
for traj in unique_trajs:
    traj_df = df[df['traj'] == traj][columns_to_keep]
    traj_df['time'] = pd.to_datetime(traj_df['time']).apply(lambda x: x.timestamp())
    #如果一个traj中存在两条数据的time相同，那么就不保存这个traj
    # traj_df = traj_df.drop_duplicates(subset='time')
    if len(traj_df) != len(traj_df['time'].unique()):
        print(f'Trip {traj} has duplicated timestamps, skipping...')
        continue

    traj_df.to_csv(f'{save_path}/trip_{traj}.txt', header=False, index=False)
print('Done!')

Trip 1 has duplicated timestamps, skipping...
Trip 3 has duplicated timestamps, skipping...
Trip 4 has duplicated timestamps, skipping...
Trip 5 has duplicated timestamps, skipping...
Trip 10 has duplicated timestamps, skipping...
Trip 11 has duplicated timestamps, skipping...
Trip 14 has duplicated timestamps, skipping...
Trip 16 has duplicated timestamps, skipping...
Trip 18 has duplicated timestamps, skipping...
Trip 19 has duplicated timestamps, skipping...
Trip 20 has duplicated timestamps, skipping...
Trip 21 has duplicated timestamps, skipping...
Trip 22 has duplicated timestamps, skipping...
Trip 24 has duplicated timestamps, skipping...
Trip 25 has duplicated timestamps, skipping...
Trip 36 has duplicated timestamps, skipping...
Trip 37 has duplicated timestamps, skipping...
Trip 38 has duplicated timestamps, skipping...
Trip 39 has duplicated timestamps, skipping...
Trip 41 has duplicated timestamps, skipping...
Trip 43 has duplicated timestamps, skipping...
Trip 44 has duplicated timestamps, skipping...
Trip 46 has duplicated timestamps, skipping...
Trip 47 has duplicated timestamps, skipping...
Trip 48 has duplicated timestamps, skipping...
Trip 51 has duplicated timestamps, skipping...
Trip 52 has duplicated timestamps, skipping...
Trip 53 has duplicated timestamps, skipping...
Trip 59 has duplicated timestamps, skipping...
Trip 61 has duplicated timestamps, skipping...
Trip 68 has duplicated timestamps, skipping...
Trip 69 has duplicated timestamps, skipping...
Trip 70 has duplicated timestamps, skipping...
Trip 71 has duplicated timestamps, skipping...
Trip 72 has duplicated timestamps, skipping...
Trip 73 has duplicated timestamps, skipping...
Trip 74 has duplicated timestamps, skipping...
Trip 82 has duplicated timestamps, skipping...
Trip 84 has duplicated timestamps, skipping...
Trip 87 has duplicated timestamps, skipping...
Trip 88 has duplicated timestamps, skipping...
Trip 90 has duplicated timestamps, skipping...
Trip 103 has duplicated timestamps, skipping...
Trip 106 has duplicated timestamps, skipping...
Trip 108 has duplicated timestamps, skipping...
Trip 109 has duplicated timestamps, skipping...
Trip 123 has duplicated timestamps, skipping...
Trip 124 has duplicated timestamps, skipping...
Trip 125 has duplicated timestamps, skipping...
Trip 126 has duplicated timestamps, skipping...
Trip 128 has duplicated timestamps, skipping...
Trip 129 has duplicated timestamps, skipping...
Trip 205 has duplicated timestamps, skipping...
Trip 223 has duplicated timestamps, skipping...
Trip 224 has duplicated timestamps, skipping...
Trip 226 has duplicated timestamps, skipping...
Trip 227 has duplicated timestamps, skipping...
Trip 232 has duplicated timestamps, skipping...
Trip 246 has duplicated timestamps, skipping...
Trip 247 has duplicated timestamps, skipping...
Trip 248 has duplicated timestamps, skipping...
Trip 250 has duplicated timestamps, skipping...
Trip 251 has duplicated timestamps, skipping...
Trip 322 has duplicated timestamps, skipping...
Trip 323 has duplicated timestamps, skipping...
Trip 325 has duplicated timestamps, skipping...
Trip 465 has duplicated timestamps, skipping...
Trip 488 has duplicated timestamps, skipping...
Trip 750 has duplicated timestamps, skipping...
Trip 1073 has duplicated timestamps, skipping...
Trip 1074 has duplicated timestamps, skipping...
Trip 1080 has duplicated timestamps, skipping...
Trip 1082 has duplicated timestamps, skipping...
Trip 1084 has duplicated timestamps, skipping...
Trip 1086 has duplicated timestamps, skipping...
Trip 1087 has duplicated timestamps, skipping...
Trip 1089 has duplicated timestamps, skipping...
Trip 1094 has duplicated timestamps, skipping...
Trip 1096 has duplicated timestamps, skipping...
Trip 1097 has duplicated timestamps, skipping...
Trip 1105 has duplicated timestamps, skipping...
Trip 1106 has duplicated timestamps, skipping...
Trip 1108 has duplicated timestamps, skipping...
Trip 1110 has duplicated timestamps, skipping...
Trip 1111 has duplicated timestamps, skipping...
Trip 1112 has duplicated timestamps, skipping...
Trip 1114 has duplicated timestamps, skipping...
Trip 1115 has duplicated timestamps, skipping...
Trip 1116 has duplicated timestamps, skipping...
Trip 1124 has duplicated timestamps, skipping...
Trip 1141 has duplicated timestamps, skipping...
Trip 1142 has duplicated timestamps, skipping...
Trip 1152 has duplicated timestamps, skipping...
Trip 1153 has duplicated timestamps, skipping...
Trip 1155 has duplicated timestamps, skipping...
Trip 1156 has duplicated timestamps, skipping...
Trip 1157 has duplicated timestamps, skipping...
Trip 1158 has duplicated timestamps, skipping...
Trip 1159 has duplicated timestamps, skipping...
Trip 1160 has duplicated timestamps, skipping...
Trip 1161 has duplicated timestamps, skipping...
Trip 1166 has duplicated timestamps, skipping...
Trip 1174 has duplicated timestamps, skipping...
Trip 1176 has duplicated timestamps, skipping...
Trip 1177 has duplicated timestamps, skipping...
Trip 1178 has duplicated timestamps, skipping...
Trip 1179 has duplicated timestamps, skipping...
Trip 1187 has duplicated timestamps, skipping...
Trip 1195 has duplicated timestamps, skipping...
Trip 1217 has duplicated timestamps, skipping...
Trip 1218 has duplicated timestamps, skipping...
Trip 1220 has duplicated timestamps, skipping...
Trip 1221 has duplicated timestamps, skipping...
Trip 1223 has duplicated timestamps, skipping...
Trip 1227 has duplicated timestamps, skipping...
Trip 1229 has duplicated timestamps, skipping...
Trip 1232 has duplicated timestamps, skipping...
Trip 1233 has duplicated timestamps, skipping...
Trip 1234 has duplicated timestamps, skipping...
Trip 1235 has duplicated timestamps, skipping...
Trip 1248 has duplicated timestamps, skipping...
Trip 1249 has duplicated timestamps, skipping...
Trip 1261 has duplicated timestamps, skipping...
Trip 1296 has duplicated timestamps, skipping...
Trip 1297 has duplicated timestamps, skipping...
Trip 1415 has duplicated timestamps, skipping...
Trip 1527 has duplicated timestamps, skipping...
Trip 1529 has duplicated timestamps, skipping...
Trip 1530 has duplicated timestamps, skipping...
Trip 1532 has duplicated timestamps, skipping...
Trip 1993 has duplicated timestamps, skipping...
Trip 1999 has duplicated timestamps, skipping...
Trip 2000 has duplicated timestamps, skipping...
Done!

In [4]:
print(len(os.listdir('datasets/trips_0_24_new')))

150